DEBUG=False
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost:5432/testdb
CLOUDFLARE_R2_ACCESS_KEY=access_key
CLOUDFLARE_R2_SECRET_KEY=secret_key
CLOUDFLARE_R2_BUCKET=curso-django
CLOUDFLARE_R2_BUCKET_ENDPOINT=https://7a9967bc09a19521fe9680b7ef08f9b9.r2.cloudflarestorage.com
CLOUDFLARE_R2_PUBLIC_URL=https://pub-9c3ac0b38d92456c91bed81d8a666457.r2.dev
