# Ignorar arquivos de bibliotecas e terceiros nas estatísticas do GitHub Linguist

# Bootstrap, jQuery, FontAwesome, etc.
static/** linguist-vendored
staticfiles/** linguist-vendored

# Mark Bootstrap and other static vendor files as vendored
urbpy/pypro/base/static/** linguist-vendored

# Mapas de fontes, JS minificados, arquivos de distribuição
*.min.js linguist-vendored
*.map linguist-vendored
*.bundle.js linguist-vendored