[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg = "*"
django-storages = {extras = ["s3"], version = "*"}
collectfast = "*"
django-debug-toolbar = "*"
highlight-io = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.10"
