{% extends 'base/base.html' %}
{% load static %}
{% block title %}UrbPy - Login{% endblock title %}
{% block body %}
<main class="container">
	<div class="container">
		<div class="row">
			<div class="col">
				{% if form.errors %}
				<div class="alert alert-danger" role="alert">
					Usuário ou senha incorretos. Por favor, tente novamente.
				</div>
				{% endif %}
				{% if next %}
				{% if user.is_authenticated %}
				<p>Sua conta não tem acesso a esta página. Para continuar,
					<a href="/login">faça login</a> com uma conta que tenha permissão.
				</p>
				{% else %}
				<p>Por favor faça login para ver esta página.</p>
				{% endif %}
				{% endif %}
				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<table>
						<tr>
							<td>{{ form.username.label_tag }}</td>
							<td>{{ form.username }}</td>
						</tr>
						<tr>
							<td>{{ form.password.label_tag }}</td>
							<td>{{ form.password }}</td>
						</tr>
					</table>
					<input type="submit" value="login">
					<input type="hidden" name="next" value="{{ next }}">
					<!-- Widget Turnstile -->
					<div class="cf-turnstile" data-sitekey="0x4AAAAAABmOHLhpp2TS6aRh" data-theme="light"></div>
					<!-- Script Turnstile -->
					 <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
				</form>

				
				{# Assumes you set up the password_reset view in your URLconf #}
				<p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>
			</div>
		</div>
	</div>
</main>
{% endblock body %}