{% extends "base/base.html" %}
{% load i18n %}

{% block title %}UrbPy - Formulário de recuperação de Senha{% endblock title %}

{% block body %}
    <main class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ title }}</h1>

                    <p>{% translate "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

                    <p>{% translate "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}</p>

                </div>
            </div>
        </div>
    </main>
{% endblock %}