{% extends 'base/base.html' %}
{% load static %}
{% block title %}UrbPy - Sobre{% endblock title %}
<meta name="description" content="{% block description %} Página com vídeo sobre URBPY{% endblock description%}">
{% block body %}
	<main class="container">
		<div class="container">
			<div class="row">		
				<div class="col-md-12">
                    <h1 class="mt-4 mb-3">Video Aperitivo: Motivação</h1>
					<div style="position: relative; overflow: hidden; aspect-ratio: 1920/1080">
						<iframe src="https://share.synthesia.io/embeds/videos/445f84c2-eb92-49da-a4dc-b4c0ec772fed" loading="lazy" title="Synthesia video player - Mastering the Future: Your Journey with Python and AI" allowfullscreen allow="encrypted-media; fullscreen;" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0; overflow:hidden;"></iframe>
					</div>
				</div>
			</div>				
		</div>
	</main>
{% endblock body %}