{% extends 'base/base.html' %}
{% load static %}
{% block title %}UrbPy - Sobre{% endblock title %}
<meta name="description" content="{% block description %} Página com vídeo sobre URBPY{% endblock description%}">
{% block body %}
	<main class="container">
		<div class="container">
			<div class="row">		
				<div class="col-md-12">
                    <h1 class="mt-4 mb-3">{{ video.titulo|default:"Sem título" }}</h1>
					<div style="position: relative; overflow: hidden; aspect-ratio: 1920/1080">
						<iframe src="https://share.synthesia.io/embeds/videos/{{ video.synthesia_id }}" loading="lazy" title="Synthesia video player - Mastering the Future: Your Journey with Python and AI" allowfullscreen allow="encrypted-media; fullscreen;" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0; overflow:hidden;"></iframe>
					</div>
					<!-- Botão Voltar, só se o slug for "show" -->					
					{% if video.slug == "show" %}
					<div>
						<a href="{% url 'aperitivos:video' slug='motivacao' %}"><i class="bi bi-chevron-double-left"></i>Voltar</a>
					</div>
					{% endif %}
					{% if video.slug == "motivacao" %}
					<div>
						<a name="show" href="{% url 'aperitivos:video' slug='show' %}"> Próximo vídeo <i class="bi bi-chevron-double-right"></i></a>
					</div>
					{% endif %}
				</div>
			</div>				
		</div>
	</main>
{% endblock body %}