{% extends 'base/base.html' %}
{% load static %}
{% block title %}UrbPy - Sobre{% endblock title %}
<meta name="description" content="{% block description %} Página com vídeo sobre URBPY{% endblock description%}">
{% block body %}
	<main class="container">
		<div class="container">
			<div class="row">		
				<div class="col-md-12">
                    <h1 class="mt-4 mb-3">{{ aula.titulo|default:"Sem título" }}</h1>
					<div style="position: relative; overflow: hidden; aspect-ratio: 1920/1080">
						<iframe src="https://www.youtube.com/embed/{{ aula.video_id }}" loading="lazy" title="Random video from youtube" allowfullscreen allow="encrypted-media; fullscreen;" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0; margin: 0; overflow:hidden;"></iframe>
					</div>
					<div class="d-flex justify-content-between mt-4">

						{% if aula_anterior %}
							<a class="btn btn-outline-primary" href="{% url 'modulos:aula' slug=aula_anterior.slug %}">
							← Voltar para {{ aula_anterior.titulo }}
							</a>
						{% else %}
							<div></div> {# mantém espaçamento se não houver botão #}
						{% endif %}

						{% if aula_proxima %}
							<a class="btn btn-primary" href="{% url 'modulos:aula' slug=aula_proxima.slug %}">
							Próximo: {{ aula_proxima.titulo }} →
							</a>
						{% endif %}

					</div>
				</div>
			</div>				
		</div>
	</main>
{% endblock body %}