<footer class="mt-5 pt-4">
	<div class="main-footer text-light text-center">
		<div class="container">
			<div class="row">
				<h4>Entre em Contato</h4>
				<address>
                    +55 149999-9999
					<br/>
					<a href="mailto:{{contato_email}}" class="text-light">{{contato_email}}</a> 
				</address>
			</div>
		</div>
	</div>
	<div class="rights pb-4">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					© {% now 'Y' %} UrbPy. Todos os direitos reservados.
				</div>
			</div>
		</div>
	</div>
</footer>